<div class="col-xl-8">
    <div class="card">
        <div class="card-header">
            <h5 class="d-flex justify-content-center">Ingresar nueva Periodo Académico</h5>
        </div>
        <div class="card-block">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Fecha de inicio:</label>
                    <div class="col-sm-8">
                        <input formControlName="fechaInicio" [(ngModel)]="periodo.fechaInicio" [ngClass]="{'is-invalid': submitted && f.fechaInicio.errors}" type="date" class="form-control" placeholder="Fecha de inicio">
                        <div *ngIf="submitted && f.fechaInicio.errors">
                            <div *ngIf="f.fechaInicio.errors.required" class="text-c-red">La fecha de inicio es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Fecha de finalización:</label>
                    <div class="col-sm-8">
                        <input formControlName="fechaFin" [(ngModel)]="periodo.fechaFin" [ngClass]="{'is-invalid': submitted && f.fechaFin.errors}" type="date" class="form-control" placeholder="Fecha de finalización">
                        <div *ngIf="submitted && f.fechaFin.errors">
                            <div *ngIf="f.nombres.fechaFin.required" class="text-c-red">La fecha de finalización es requerida</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Descripción:</label>
                    <div class="col-sm-8">
                        <textarea formControlName="descripcion" [(ngModel)]="periodo.descripcion" [ngClass]="{'is-invalid': submitted && f.descripcion.errors}" rows="5" cols="5" class="form-control" placeholder="Descripción"></textarea>
                        <div *ngIf="submitted && f.descripcion.errors">
                            <div *ngIf="f.descripcion.errors.required" class="text-c-red">La descripción es requerida</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 d-flex justify-content-between">
                        <button (click)="onReset()" type="button" class="btn btn-danger btn-mat m-b-0">Cancelar</button>
                        <button type="submit" class="btn btn-primary btn-mat m-b-0">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>