<div class="col-xl-8">
    <div class="card">
        <div class="card-header">
            <h5 class="d-flex justify-content-center">Crear Materia</h5>
        </div>
        <div class="card-block">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Periodo:</label>
                    <div class="col-sm-8">
                        <select [(ngModel)]="periodo" formControlName="periodo" [ngClass]="{'is-invalid': submitted && f.periodo.errors}" name="select" class="form-control">
                            <option *ngFor="let item of periodos" value="{{ item.idPeriod }}">{{ item.start_date }} - {{ item.end_date }}</option>
                        </select>
                        <div *ngIf="submitted && f.periodo.errors">
                            <div *ngIf="f.periodo.errors.required" class="text-c-red">El periodo es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Nombre:</label>
                    <div class="col-sm-8">
                        <input formControlName="nombre" [(ngModel)]="materia.name" [ngClass]="{'is-invalid': submitted && f.nombre.errors}" type="text" class="form-control" placeholder="Nombre">
                        <div *ngIf="submitted && f.nombre.errors">
                            <div *ngIf="f.nombre.errors.required" class="text-c-red">El nombre es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Carrera:</label>
                    <div class="col-sm-8">
                        <input formControlName="carrera" [(ngModel)]="materia.assigned_career" [ngClass]="{'is-invalid': submitted && f.carrera.errors}" type="text" class="form-control" placeholder="Carrera">
                        <div *ngIf="submitted && f.carrera.errors">
                            <div *ngIf="f.carrera.errors.required" class="text-c-red">La carrera es requerida</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Nivel:</label>
                    <div class="col-sm-8">
                        <input formControlName="nivel" [(ngModel)]="materia.level" [ngClass]="{'is-invalid': submitted && f.nivel.errors}" type="number" class="form-control" placeholder="Nivel">
                        <div *ngIf="submitted && f.nivel.errors">
                            <div *ngIf="f.nivel.errors.required" class="text-c-red">El nivel es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">NRC:</label>
                    <div class="col-sm-8">
                        <input formControlName="nrc" [(ngModel)]="materia.nrc" [ngClass]="{'is-invalid': submitted && f.nrc.errors}" type="text" class="form-control" placeholder="NRC">
                        <div *ngIf="submitted && f.nrc.errors">
                            <div *ngIf="f.nrc.errors.required" class="text-c-red">El NRC es requerida</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Créditos:</label>
                    <div class="col-sm-8">
                        <input formControlName="creditos" [(ngModel)]="materia.total_credits" [ngClass]="{'is-invalid': submitted && f.creditos.errors}" type="number" class="form-control" placeholder="Créditos">
                        <div *ngIf="submitted && f.creditos.errors">
                            <div *ngIf="f.creditos.errors.required" class="text-c-red">Los créditos son requeridos</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 d-flex justify-content-between">
                        <button (click)="onReset()" type="button" class="btn btn-danger btn-mat m-b-0">Cancelar</button>
                        <button type="submit" class="btn btn-primary btn-mat m-b-0">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>