<div class="col-xl-8">
    <div class="card">
        <div class="card-header">
            <h5>Perfil del Estudiante</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <label class="col-sm-4 col-form-label">ID:</label>
                <div class="col-sm-6">
                    <input id="redondo" type="text" class="form-control form-control-inverse form-control-center" value="{{ estudiante.id }}" readonly>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Nombres:</label>
                <div class="col-sm-6">
                    <input id="redondo" type="text" class="form-control form-control-inverse form-control-center" value="{{ estudiante.firstName }}" readonly>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Apellidos:</label>
                <div class="col-sm-6">
                    <input id="redondo" type="text" class="form-control form-control-inverse form-control-center" value="{{ estudiante.lastName }}" readonly>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Teléfono:</label>
                <div class="col-sm-6">
                    <input id="redondo" type="tel" class="form-control form-control-inverse form-control-center" value="{{ estudiante.phone }}" readonly>
                </div>
            </div>
        </div>
    </div>
</div>