<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="index.html"><img src="assets/home/images/logo.svg" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#header">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#services">Nuestras Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">¿Quiénes Somos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#video">Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" routerLink="/Register">Registrarse</a>
            </li>
        </ul>
    </div>
</nav>
<!-- end of navbar -->
<!-- end of navigation -->


<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1><span class="turquoise">Sistema de Pasantías</span></h1>
                        <h2><span>ESPE SEDE LATACUNGA</span></h2>
                        <a class="btn-solid-lg page-scroll font-weight-bold" routerLink="/Login">Acceder</a>
                    </div>
                    <!-- end of text-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/home/images/header-teamwork.svg" alt="alternative">
                    </div>
                    <!-- end of image-container -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of header-content -->
</header>
<!-- Services -->
<div id="services" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Nuestras Empresas</h2>
                <p class="p-heading p-large">Algunas Empresas que nos ayudan en las pasantias</p>
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <img class="card-image" src="assets/home/images/services-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Nombre de la Empresa</h4>
                    </div>
                </div>
                <div class="card">
                    <img class="card-image" src="assets/home/images/services-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Nombre de la Empresa</h4>
                    </div>
                </div>
                <div class="card">
                    <img class="card-image" src="assets/home/images/services-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Nombre de la Empresa</h4>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
        <a class="btn-solid-reg popup-with-move-anim" href="https://ugvc.espe.edu.ec/convenios-vigentes/" target="_blank">Ver Convenios</a>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of cards-1 -->
<!-- end of services -->


<!-- Details 1 -->
<div class="basic-1" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>¿Quiénes Somos?</h2>
                    <p>Use our staff and our expertise to design and plan your business growth strategy. Evolo team is eager to advise you on the best opportunities that you should look into</p>
                    <a class="btn-solid-reg popup-with-move-anim" href="https://software-el.espe.edu.ec/" target="_blank">Conocer Más</a>&nbsp;
                    <a class="btn-solid-reg popup-with-move-anim  page-scroll" href="#testimonios">Testimonios</a>&nbsp;
                    <a class="btn-solid-reg popup-with-move-anim  page-scroll" href="#Requisitos">Requisitos</a>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="assets/home/images/details-1-office-worker.svg" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of basic-1 -->
<!-- end of details 1 -->


<!-- Details 2 -->
<div class="basic-2" id="Requisitos">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="assets/home/images/details-2-office-team-work.svg" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Requisitos Necesarios</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body">Basically we'll teach you step by step what you need to do</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body">In order to develop your company and reach new heights</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body">Everyone will be pleased from stakeholders to employees</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg popup-with-move-anim" href="https://ugvc.espe.edu.ec/normativa-practicas-preprofesionales/" target="_blank">Saber más</a>
                </div>
                <!-- end of text-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of basic-2 -->
<!-- Testimonials -->
<div class="slider-2" id="testimonios">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="assets/home/images/testimonials-2-men-talking.svg" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-6">
                <h2>Testimonials</h2>

                <!-- Card Slider -->
                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="assets/home/images/testimonial-1.svg" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">I just finished my trial period and was so amazed with the support and results that I purchased Evolo right away at the special price.</p>
                                        <p class="testimonial-author">Jude Thorn - Designer</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="assets/home/images/testimonial-2.svg" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Evolo has always helped or startup to position itself in the highly competitive market of mobile applications. You will not regret using it!</p>
                                        <p class="testimonial-author">Marsha Singer - Developer</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-image" src="assets/home/images/testimonial-3.svg" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Love their services and was so amazed with the support and results that I purchased Evolo for two years in a row. They are awesome.</p>
                                        <p class="testimonial-author">Roy Smith - Marketer</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end of swiper-slide -->
                            <!-- end of slide -->

                        </div>
                        <!-- end of swiper-wrapper -->

                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->

                    </div>
                    <!-- end of swiper-container -->
                </div>
                <!-- end of slider-container -->
                <!-- end of card slider -->

            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of slider-2 -->
<!-- end of testimonials -->
<!-- Video -->
<div class="basic-3" id="video">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Check Out The Video</h2>
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Video Preview -->
                <div class="image-container">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=fLCjQJCekTs" data-effect="fadeIn" target="_blank">
                            <img class="img-fluid" src="assets/home/images/video-frame.svg" alt="alternative">
                            <span class="video-play-button">
                                    <span></span>
                            </span>
                        </a>
                    </div>
                    <!-- end of video-wrapper -->
                </div>
                <!-- end of image-container -->
                <!-- end of video preview -->

                <p>This video will show you a case study for one of our <strong>Major Customers</strong> and will help you understand why your startup needs Evolo in this highly competitive market</p>
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of video -->
<!-- end of about -->
<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2020 <a>PACKNOVA</a> - All rights reserved</p>
            </div>
            <!-- end of col -->
        </div>
        <!-- enf of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of copyright -->