<div class="card">
    <div class="card-header">
        <h5 class="d-flex justify-content-center">Lista de Materias</h5>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Carrera</th>
                        <th>Nivel</th>
                        <th>NRC</th>
                        <th>Créditos</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of materias">
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.carrera }}</td>
                        <td>{{ item.nivel }}</td>
                        <td>{{ item.nrc }}</td>
                        <td>{{ item.creditos }}</td>
                        <td>
                            <button (click)="cargarData(item.id)" type="button" class="btn btn-warning btn-skew" data-toggle="modal" data-target="#EditModal"><i class="feather icon-edit-2"></i></button>
                            <button (click)="eliminar(item)" type="button" class="btn btn-danger btn-skew"><i class="feather icon-trash-2"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLongTitle">Editar Materia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Nombre:</label>
                        <div class="col-sm-8">
                            <input formControlName="nombre" [(ngModel)]="materia.nombre" [ngClass]="{'is-invalid': submitted && f.nombre.errors}" type="text" class="form-control" placeholder="Nombre">
                            <div *ngIf="submitted && f.nombre.errors">
                                <div *ngIf="f.nombre.errors.required" class="text-c-red">El nombre es requerido</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Carrera:</label>
                        <div class="col-sm-8">
                            <input formControlName="carrera" [(ngModel)]="materia.carrera" [ngClass]="{'is-invalid': submitted && f.carrera.errors}" type="text" class="form-control" placeholder="Carrera">
                            <div *ngIf="submitted && f.carrera.errors">
                                <div *ngIf="f.carrera.errors.required" class="text-c-red">La carrera es requerida</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Nivel:</label>
                        <div class="col-sm-8">
                            <input formControlName="nivel" [(ngModel)]="materia.nivel" [ngClass]="{'is-invalid': submitted && f.nivel.errors}" type="text" class="form-control" placeholder="Nivel">
                            <div *ngIf="submitted && f.nivel.errors">
                                <div *ngIf="f.nivel.errors.required" class="text-c-red">El nivel es requerido</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">NRC:</label>
                        <div class="col-sm-8">
                            <input formControlName="nrc" [(ngModel)]="materia.nrc" [ngClass]="{'is-invalid': submitted && f.nrc.errors}" type="text" class="form-control" placeholder="NRC">
                            <div *ngIf="submitted && f.nrc.errors">
                                <div *ngIf="f.nrc.errors.required" class="text-c-red">El NRC es requerida</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Créditos:</label>
                        <div class="col-sm-8">
                            <input formControlName="creditos" [(ngModel)]="materia.creditos" [ngClass]="{'is-invalid': submitted && f.creditos.errors}" type="text" class="form-control" placeholder="Créditos">
                            <div *ngIf="submitted && f.creditos.errors">
                                <div *ngIf="f.creditos.errors.required" class="text-c-red">Los créditos son requeridos</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <button type="button" class="btn btn-danger btn-square" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success btn-square">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>