<div class="col-xl-8">
    <div class="card">
        <div class="card-header">
            <h5 class="d-flex justify-content-center">Matricular Primer Nivel</h5>
        </div>
        <div class="card-block">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Estudiante:</label>
                    <div class="col-sm-8">
                        <select [(ngModel)]="matricula.estudiante" formControlName="estudiante" [ngClass]="{'is-invalid': submitted && f.estudiante.errors}" name="select" class="form-control">
                            <option *ngFor="let item of estudiantes" value="{{ item.id }}">{{ item.lastName }} - {{ item.firstName }}</option>
                        </select>
                        <div *ngIf="submitted && f.estudiante.errors">
                            <div *ngIf="f.estudiante.errors.required" class="text-c-red">El estudiante es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Periodo:</label>
                    <div class="col-sm-8">
                        <select [(ngModel)]="matricula.periodo" formControlName="periodo" [ngClass]="{'is-invalid': submitted && f.periodo.errors}" name="select" class="form-control">
                            <option *ngFor="let item of periodos" value="{{ item.idPeriod }}">{{ item.start_date }} - {{ item.end_date }}</option>
                        </select>
                        <div *ngIf="submitted && f.periodo.errors">
                            <div *ngIf="f.periodo.errors.required" class="text-c-red">El periodo es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Materias:</label>
                    <div class="col-sm-8">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Créditos
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of materias">
                                    <td>
                                        NRC {{item.nrc}} - {{item.name}}
                                    </td>
                                    <td>
                                        {{item.total_credits}}
                                    </td>
                                    <td class="btn-group">
                                        <button (click)="selectMateria(item)" class="btn btn-sm btn-info"><fa-icon [icon]="faCheck"></fa-icon></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div *ngIf="submitted && f.materias.errors">
                            <div *ngIf="f.materias.errors.required" class="text-c-red">Las materias son requeridas</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Fecha:</label>
                    <div class="col-sm-8">
                        <input formControlName="fecha" [(ngModel)]="matricula.fecha" [ngClass]="{'is-invalid': submitted && f.fecha.errors}" type="date" class="form-control" placeholder="Fecha">
                        <div *ngIf="submitted && f.fecha.errors">
                            <div *ngIf="f.fecha.errors.required" class="text-c-red">La fecha es requerida</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Tipo:</label>
                    <div class="col-sm-8">
                        <select formControlName="tipo" class="control-user" [(ngModel)]="matricula.tipo">
                            <option value="P">Primera</option>
                            <option value="S">Segunda</option>
                            <option value="T">Tercera</option>
                        </select>
                        <div *ngIf="submitted && f.tipo.errors">
                            <div *ngIf="f.tipo.errors.required" class="text-c-red">El tipo es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 d-flex justify-content-between">
                        <button (click)="onReset()" type="button" class="btn btn-danger btn-mat m-b-0">Cancelar</button>
                        <button type="submit" class="btn btn-primary btn-mat m-b-0">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>