<div class="card">
    <div class="card-header">
        <h5 class="d-flex justify-content-center">Lista de Formularios de Matrícula Manual</h5>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of formularios; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>
                            <button (click)="cargarData(item.id)" type="button" class="btn btn-warning btn-skew"><i class="feather icon-edit-2"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>