<div class="col-xl-8">
    <div class="card">
        <div class="card-header">
            <h5 class="d-flex justify-content-center">Registrar cronograma de matrículas</h5>
        </div>
        <div class="card-block">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Periodo:</label>
                    <div class="col-sm-8">
                        <select [(ngModel)]="periodo" formControlName="periodo" [ngClass]="{'is-invalid': submitted && f.periodo.errors}" name="select" class="form-control">
                            <option *ngFor="let item of periodos" value="{{ item.idPeriod }}">{{ item.start_date }} - {{ item.end_date }}</option>
                        </select>
                        <div *ngIf="submitted && f.periodo.errors">
                            <div *ngIf="f.periodo.errors.required" class="text-c-red">El periodo es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Mínimo de Créditos:</label>
                    <div class="col-sm-8">
                        <input formControlName="min" [(ngModel)]="cronograma.credit_min" [ngClass]="{'is-invalid': submitted && f.min.errors}" type="number" class="form-control" placeholder="Mínimo de Créditos">
                        <div *ngIf="submitted && f.min.errors">
                            <div *ngIf="f.min.errors.required" class="text-c-red">El mínimo de créditos es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Máximo de Créditos:</label>
                    <div class="col-sm-8">
                        <input formControlName="max" [(ngModel)]="cronograma.credit_max" [ngClass]="{'is-invalid': submitted && f.max.errors}" type="number" class="form-control" placeholder="Máximo de Créditos">
                        <div *ngIf="submitted && f.max.errors">
                            <div *ngIf="f.max.errors.required" class="text-c-red">El máximo de créditos es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Tipo:</label>
                    <div class="col-sm-8">
                        <input formControlName="tipo" [(ngModel)]="cronograma.type" [ngClass]="{'is-invalid': submitted && f.tipo.errors}" type="text" class="form-control" placeholder="Tipo">
                        <div *ngIf="submitted && f.tipo.errors">
                            <div *ngIf="f.tipo.errors.required" class="text-c-red">El tipo es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Descripción:</label>
                    <div class="col-sm-8">
                        <input formControlName="desc" [(ngModel)]="cronograma.descripcion" [ngClass]="{'is-invalid': submitted && f.desc.errors}" type="text" class="form-control" placeholder="Descripción">
                        <div *ngIf="submitted && f.desc.errors">
                            <div *ngIf="f.desc.errors.required" class="text-c-red">La descripción es requerida</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Fecha de inicio:</label>
                    <div class="col-sm-8">
                        <input formControlName="fecha" [(ngModel)]="cronograma.date_from" [ngClass]="{'is-invalid': submitted && f.fecha.errors}" type="date" class="form-control" placeholder="Fecha">
                        <div *ngIf="submitted && f.fecha.errors">
                            <div *ngIf="f.fecha.errors.required" class="text-c-red">La fecha es requerida</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 d-flex justify-content-between">
                        <button (click)="onReset()" type="button" class="btn btn-danger btn-mat m-b-0">Cancelar</button>
                        <button type="submit" class="btn btn-primary btn-mat m-b-0">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>